{% extends "base_template.html" %}
{% block content %}
{% load static %}
<head>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
</head>
<div class="contenedor">
    {% if invitado %}
    <button onclick="descargarImagen()">Descargar imagen</button>
        {% for invitado in invitado %}
            <div class="tarjeta">
                <div class="tarjetaFrente" id="miDivIndividual"style="background-image: url('{{ ruta }}')" >
                    <div class="tarjetaFrente-contenido">
                        <section class="grid-container">
                            <div class="item1">
                                <p class="evento">{{ invitado.idEvento.descripcion }}</p>
                            </div>
                            <div class="item2">
                                <p class="lugar">Lugar: {{ invitado.idEvento.lugar }}</p>
                            </div>
                            <div class="item3">
                                <p class="fecha">{{ invitado.idEvento.fechaInicio | date:"d/m/Y H:i"}} hs</p>
                            </div>
                            <div class="item4">
                                <p class="nombre">{{ invitado.nombre }}</p>
                                <div id="TarjetaIndividual_Id" style="display: none;">{{ invitado.idInvitado }}</div>
                            </div>
                            <div class="item5">
                                <p class="qr"><img src="{% static 'media/img/' %}{{ invitado.qr }}" width="100px" alt="QR Code"></p>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="tarjetaAtras">
                    <section >
                        <div class="item1">
                            <p class="evento">{{ invitado.idEvento.descripcion }}</p>
                        </div>
                        <div class="item2">
                            <p class="lugar">Lugar: {{ invitado.idEvento.lugar }}</p>
                        </div>
                        <div class="item3">
                            <p class="fecha">{{ invitado.idEvento.fechaInicio | date:"d/m/Y H:i"}} hs</p>
                        </div>
                        <div class="derechos">
                            <p>@2024  - Derechos Reservados - SSCOM INFORMATICA</p>
                        </div>
                    </section>
                </div>
            </div>   
        {% endfor %}                
    {% endif %}    
</div>

<script>
    function descargarImagen() {
      var div = document.getElementById("miDivIndividual");
      var tarjetainidividual = document.getElementById("TarjetaIndividual_Id").textContent;
      html2canvas(div).then(function(canvas) {
        var img = canvas.toDataURL("image/jpeg");
        var link = document.createElement("a");
        link.download = "Tarjeta"+tarjetainidividual+".jpeg";
        link.href = img;
        link.click();
      });
    }
  </script>
  
  {% endblock %}